<a href="https://colab.research.google.com/github/dhruvtomar/-dhruvtomar-dhruv_Ineuron_datascience/blob/main/1st_October_Assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. What is indentation error? Why indentation is important? Give one simple example?
Indetation error means statement are not assigned properly so it will give error
without proper indentation the code get not complied in order so it will give erro

In [ ]:
#Indentation Erro Example
x = int(input("Enter"))
if x==0:
  print("Zero")
else:
  print("More")

Enter1
More

In [ ]:
#Indentation Erro Example
x = int(input("Enter"))
if x==0:  #indentation error 
print("Zero")
else:
  print("More")

IndentationError: ignored

##2 Correct the following code and write the comment where you made the correction?

In [ ]:
class_started = bool(input("Hey friend, is class started?: [0-False/1-True]"))

if class_started:
   print("Since class started...")
   print("Lets concentrate")
else:
   print("Since class is not started...")
   print("let's revise")      #here i am getting the same result as bool always count true so i converted this to int and it works below

In [ ]:
class_started = int(input("Hey friend, is class started?: [0-False/1-True]"))

if class_started == True:
   print("Since class started...")
   print("Lets concentrate")
elif class_started == False:
   print("Since class is not started...")
   print("let's revise")  

else:
  print("not valid bool")

Hey friend, is class started?: [0-False/1-True]1
Since class started...
Lets concentrate

## 3. Use if else condition to verify that dataype of input() method in python is always string.

In [ ]:
num  = input("Enter the number")

if num>5:
  print("Goood number")
else:
  print("Not satisfy")

Enter the number55

TypeError: ignored

###***as by avove errro its proof htat number that i entered that was conted as a string but i compared to it with int thats why showing error***

In [ ]:
num  = int(input("Enter the number"))

if num>90:
  print("Goood number")
else:
  print("Not satisfy")

Enter the number99
Goood number

##4. Take 3 variables and assign integer values to them. Find the largest variable, by only using the if and else conditions.

In [57]:
a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
c = int(input("Enter the third number"))

if a> b and a> c :
  greater = a
elif b > a  and b>c:
  greater = b
else:
    greater = c

print("the  greater number is:", greater)

Enter the first number3
Enter the second number4
Enter the third number6
the  greater number is: 6

##5. What would be the solution?

True

False

a = 6
b = 10
Answer will be False 
because
not a == 10 or not b == 10  = True but infront there is not that makes it False

In [59]:
a = 6
b = 10
print( not ( not a == 10 or not b == 10) )

False

## 6. Find the answer as well as find out the reason behind the result? -

* case 1:

In [ ]:
A = 5.0 #its a float
B = int(10/2) #it will give int so the value will be 5 so the location will be change that is why its False

print(A is B)

In [61]:
id(A)

139625380514288

In [62]:
id(B)

11122720

Hence False

* case 2:

In [68]:
A = 5.0
B = 10/2 
print(B)
print(A is B)

5.0
False

In [65]:
id(A)

139625380536624

In [67]:
id(B)  #Hence false id is different

139625380537584

*case 3

In [73]:
A = 5.0
B = float(10/2)
print(B)
print(A is B)

5.0
False

In [71]:
id (A)

139625380538288

In [72]:
id(B) #again false the reaso is same that  A and B both are not denoting for the same that is why the location is differnet

139625380835472

## Try to understand the following examples and answer the question based on it -
Arithmatic Operators

Operation	Meaning
+	addition
-	subtraction
*	multiplication
/	true division
//	integer division
%	the modulo operator
Here +, -, *, / are regular arithmatic operators. Lets look at the // and % operators

In [74]:
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")

integer division: 25/5=5

In [75]:
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")

integer division: 25/3=8

In [76]:
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")

remainder: 25/5 is 0

In [77]:
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")

remainder: 25/3 is 1

## 7. Write a program that asks the user to enter a number. You should print out a message to the user, either “That number is divisible by either 3 or 5”, or “That number is not divisible by either 3 or 5”. Be sure to consider the data type of the input you are taking in from the user. Use a single if/else block to solve this problem.

In [91]:
a = int(input("Enter the number"))
if a%3==0 or a%5==0:
  print(f"Number is divisbilbe: {a%3==0} {a%5==0}")

else:
  print("Not divisible by 3 or 5")

Enter the number36
Number is divisbilbe: True False

##8. Take user input for length and width. Then calculate the area of rectangle. Also print as per length and width whether its a square of rectangle.

In [143]:
l = int(input("Enter the lenth of rectangle"))
w = int(input("Enter the width of rectangle"))

#are of rectangle  = l*b

print(f"Area of the rectable is: {l*w}")
if l==w:
  print("this is a squre of rectangl")

else:
  print("It is a rectangle")

Enter the lenth of rectangle5
Enter the width of rectangle5
Area of the rectable is: 25
this is a squre of rectangl

## 9.Take two variable radius_1 and radius_2 and calculate the area of circle_1 and circle_2. Also print which circle has large area. If area is equal then print area is equal.

In [98]:
radius_1 = 7
radius_2 = 14
# area of circle is 3.14*(r**2)

print(f"Are of 1st circle is: {3.14*(7**2)}")
print(f"Are of 2nd circle is: {3.14*(14**2)}")

if radius_1>radius_2:
  if readius_1==radius_2:
    print("Area of both cirle is Equal")

  else:
    print("Area of 1st circle is greater thatn the 2nd one")
    
else:
  print("Area of 2nd cirle is greater than 1st")

Are of 1st circle is: 153.86
Are of 2nd circle is: 615.44
Area of 2nd cirle is greater than 1st

In [100]:
radius_1 = 14
radius_2 = 7
# area of circle is 3.14*(r**2)

print(f"Are of 1st circle is: {3.14*(7**2)}")
print(f"Are of 2nd circle is: {3.14*(14**2)}")

if radius_1>radius_2:
  if radius_1==radius_2:
    print("Area of both cirle is Equal")

  else:
    print("Area of 1st circle is greater thatn the 2nd one")
    
else:
  print("Area of 2nd cirle is greater than 1st")

Are of 1st circle is: 153.86
Are of 2nd circle is: 615.44
Area of 1st circle is greater thatn the 2nd one

In [120]:
radius_1 = 14
radius_2 = 14
# area of circle is 3.14*(r**2)

print(f"Are of 1st circle is: {3.14*(14**2)}")
print(f"Are of 2nd circle is: {3.14*(14**2)}")

if radius_1==radius_2:
  print("Area is equal")
 
else:
  print("can not define")

Are of 1st circle is: 615.44
Are of 2nd circle is: 615.44
Area is equal

## 10. Check whether a year is leap year or not. Use nested if...else to solve this problem. A leap year is exactly divisible by 4 except for century years (years ending with 00). The century year is a leap year only if it is perfectly divisible by 400.

In [142]:
Leap_year = int(input("Enter the year to be checked: "))
if (Leap_year % 4) == 0:
    if (Leap_year % 100) == 0:
        if (Leap_year% 400) == 0:
            print("The year is a Century leap year!")
        else:
            print("The year is a not leap year!")
    else:
        print("The year is a leap year!")
else:
    print("The year is not a leap year!")

Enter the year to be checked: 600
The year is a not leap year!