#Assignments
## send the mail to query@ineuron.ai N
cc sunny@ineuron.ai , riishav@ineuron.ai
subject: [bootcamp 2.0 | assignment no 1]:

**1.Find out all the types of error that we have encountered in our lectured in our lecture and why also include the examples.**
2. Take input A and B and print their sum, mul div, power squre of the nos. 
3. how many reserved keywords are there in python and why we should not use them as a veriable name .
4.Create email ids with the inputs.
in the following format -
lastname. firstname@gmail.com
5.try to print the following lines -
- Hi I'm Sunny 
- My adress is 22\3 
- I earn 20$ daily.

6. Take user input(name, adress,date of birth etc.) to fill a form for your college and create their email IDs 
7. Convert the folllowing 
- "22.4" into 22 integer
- "22" into complex no .

##1.**Find out all the types of error that we have encountered in our lectured in our lecture and why also include the examples.**

In [1]:
#1
print(Dhruv)  #We need inverteed comma to print something

NameError: ignored

In [9]:
#1.1 We can not go with P in print or it will show error
Print("Dhruv")

NameError: ignored

In [10]:
#1.3 We can not print anything without  parentheses 
print"Dhruv"

SyntaxError: ignored

In [11]:
#1.4 We can not braek line in print
print("Dhruv
tomar")

SyntaxError: ignored

In [2]:
print("Dhruv")

Dhruv

In [3]:
#2
#for string value we always need to assing comma not for integers

a = Dhruv

NameError: ignored

In [8]:
a = "Dhruv"
b = 6 
#print(a)
#print(f"({a}{b})")    # if we keep a without curly bracket it will direclty print a and b 

print(f"(ab)")

(ab)

In [12]:
#3 
print("Hello my name is "Dhruv"")

SyntaxError: ignored

In [17]:
#4 special characters not alllowed  symbols = {`,~,!,@,#,$,%,^,&,*,(,),_,-,+,=,{,[,},},|,\,:,;,",',<,,,>,.,?,/}
A@ = "Dhruv"

SyntaxError: ignored

In [16]:
#print("Hello my name is \"Dhruv\"")
print('Hello my name is "Dhruv"')

Hello my name is "Dhruv"

In [18]:
a% = 8

SyntaxError: ignored

In [20]:
a_b= "Dhruv"

#4.1 we can not also assign any operators
a/b = "Dhruv"

SyntaxError: ignored

In [21]:
10 ten = 10 #we can not sue nubmer before tha varialble

SyntaxError: ignored

In [22]:
Ten = 10
ten number = 10

SyntaxError: ignored

In [23]:
Ten = 10
ten_number= 10

In [25]:
#Strong typing

"Dhruv" + 1

TypeError: ignored

In [27]:
22.01 + 1

"Dhruv" + "1"

'Dhruv1'

In [28]:
"22" + 22

TypeError: ignored

In [29]:
"22" + "22"

'2222'

##Reserved words in Python

In [30]:
print = "Dhruv"
type(print)

str

In [31]:
print("Dhruv")

TypeError: ignored

In [32]:
print = 13
type(print)

int

In [33]:
print("dhruv")

TypeError: ignored

In [34]:
del print
print("Dhruv")

Dhruv

In [35]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: dhruv
place: satna
year_of_birth: 1996

TypeError: ignored

In [36]:
# calcualte the age of the user

name = input("Name: ") # always gives you string values
place = input("place: ")
year_of_birth = int(input("year_of_birth: "))

age = 2022 - year_of_birth

print(f"""
My name is: {name}
I live at: {place}
{name} is of age: {age}
""")

Name: dhruv
place: sant
year_of_birth: 1996

My name is: dhruv
I live at: sant
dhruv is of age: 26

##Type conversion

In [39]:
 A = int(input("The value of A:"))
 B = int(input("The vaule of B"))

 print(type(A), type (B) )

print(f"Sum of A and B : {A +B}")

The value of A:7
The vaule of B8
<class 'int'> <class 'int'>
Sum of A and B : 15

In [41]:
A = float(input("Enter value of A: "))
B = int(input("Enter value of B: ")) # 10.2 is float but converting to int

print(f"Sum of A and B is: {A+B}")

Enter value of A: 55.55
Enter value of B: 55.55

ValueError: ignored

In [64]:
# String to integer
A = "50"
print(f"data type before: {type (A)}, value of A: {A}")
A= int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50
data type after: <class 'int'>, value of A: 50

In [65]:
A = "50.22" # entering float.  in float it is not possible
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A) # trying to convert into integer
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.22

ValueError: ignored

In [66]:
# empty string to int
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:

ValueError: ignored

#2 Take input A and B and print their sum, mul div, power squre of the nos.

In [70]:
A = int(input("The value of A:"))
B = int (input("The valure of B:"))

print(f"Sum of the number is: {A+B},sub of hte number is: {A-B} ,Multi of the number is : {A*B},Devision of the number is: {A/B}")

The value of A:24
The valure of B:4
Sum of the number is: 28,sub of hte number is: 20 ,Multi of the number is : 96,Devision of the number is: 6.0

#3 how many reserved keywords are there in python and why we should not use them as a veriable name .

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In Python, keywords are case sensitive.


All the keywords except True, False and None are in lowercase and they must be written as they are. The list of all the keywords is given below.

False	await	else	import	pass
None	break	except	in	raise
True	class	finally	is	return
and	continue	for	lambda	try
as	def	from	nonlocal	while
assert	del	global	not	with
async	elif	if	or	yield

https://www.programiz.com/python-programming/keywords-identifier#:~:text=Keywords%20are%20the%20reserved%20words,Python%2C%20keywords%20are%20case%20sensitive.

In [71]:
print("Create email ids with the inputs. in the following format - lastname. firstname@gmail.com")

Create email ids with the inputs. in the following format - lastname. firstname@gmail.com

#4 Create email ids with the inputs. in the following format - lastname. firstname@gmail.com

In [75]:
first_name = "dhruv"
last_name = "tomar"

print(f"Gmail id is: {first_name}.{last_name}@gmail.com")

Gmail id is: dhruv.tomar@gmail.com

#5 try to print the following lines -
Hi I'm Sunny
My adress is 22\3
I earn 20$ daily.

In [89]:
print(" Hi I'm Sunny MY adress is 22\3 I earn 20$ daily ") #doubt in 22\3

 Hi I'm Sunny MY adress is 22\ 3 I earn 20$ daily

#Take user input(name, adress,date of birth etc.) to fill a form for your college and create their email IDs

In [90]:
name = input("Name: ")
adress = input("ADress")
dob = int(input("Date of birth is:"))

print(f"Your Email id is: {name}.{adress}{dob}@rgpv.com")

Name: dhruv
ADresssatna
Date of birth is:12071996
Your Email id is: dhruv.satna12071996@rgpv.com

#7 onvert the folllowing

"22.4" into 22 integer

"22" into complex no .

In [94]:
A = 22.4
print(f"Data type before:{type(A)}, value of A:{A}")
A = int(A)
print(f"Data type after: {type(A)}, value of A: {A}")

Data type before:<class 'float'>, value of A:22.4
Data type after: <class 'int'>, value of A: 22